<h1>Admin Paneline Hoşgeldiniz...</h1>

<a asp-area="AdminPanel" asp-controller="Kategori" asp-action="Index">Kategoriler</a>
<a asp-area="AdminPanel" asp-controller="Konu" asp-action="Index">Konular</a>
<a asp-area="AdminPanel" asp-controller="Yazar" asp-action="Index">Yazarlar</a>
