<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/evonyee/css/bootstrap.min.css" />
    <!-- site css -->
    <link rel="stylesheet" href="~/evonyee/css/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/evonyee/css/responsive.css" />
    <!-- colors css -->
    <link rel="stylesheet" href="~/evonyee/css/colors.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="~/evonyee/css/custom.css" />
    <!-- wow animation css -->
    <link rel="stylesheet" href="~/evonyee/css/animate.css" />
    <!-- Revolution Loaling Fonts and Icons  -->
    <link rel="stylesheet" href="~/evonyee/js/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <!-- Revolution style Sheets  -->
    <link rel="stylesheet" href="~/evonyee/js/revolution/css/settings.css">
    <link rel="stylesheet" href="~/evonyee/js/revolution/css/layers.css">
    <link rel="stylesheet" href="~/evonyee/js/revolution/css/navigation.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="~/evonyee/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/evonyee/css/owl.theme.default.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Blog" asp-action="Index">My Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Index">Ana Sayfa</a>
                        </li>
                    </ul>
                </div>
            </div>
            @Html.Partial("_LoginPartial")
        </nav>
    </header>
    <div class="container">
       @* <table>
            <tr>
                <td>*@
                    <main role="main" class="pb-3">
                        @RenderBody()

                    </main>

               @* </td>
                 <td>
                    <div style="width:200px; background-color:dodgerblue">
                       
                        @Html.Partial("View")
                    </div> 
                </td>
            </tr>
        </table>*@
       
       
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
@*    <!-- end cpy -->
    <!-- jQuery (necessary for Bootstrap's JavaScript) -->
    <script src="~/evonyee/js/jquery.min.js"></script>
    <script src="~/evonyee/js/popper.min.js"></script>
    <script src="~/evonyee/js/bootstrap.min.js"></script>
    <!-- javascript -->
    <script src="~/evonyee/js/owl.carousel.js"></script>
    <!-- wow animation -->
    <script src="~/evonyee/js/wow.js"></script>
    <!-- menumaker -->
    <script src="~/evonyee/js/menumaker.js"></script>
    <!-- custom js -->
    <script src="~/evonyee/js/custom.js"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
